@charset 'utf-8';

@import 'settings';
@import 'foundation/foundation';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;


/* Menu */

.top-bar {
	line-height: 50px;
	position: relative;
	li {
		font-size: 12px;
		a {
			color: $dark-gray;
			line-height: 50px;
			font-family: $header-font-family;
			&:hover {
				color: $white;
			}
			&:active {
				color: $primary-color;
			}
		}
	}
}

button,
[type="submit"],
.button {
	@include button;
	line-height: 20px;
	min-height: 20px;
	background: lighten($third-color, 40%);
	padding: auto 60px;
	&.success {
		box-shadow: 0 3px 0 #739e6c;
	}
}

@include breakpoint(medium) {
	.float-left-medium {
		float: left;
	}
}

.ba-cloud {
	background: $secondary-color;
	border-top: 10px solid darken($secondary-color, 10%);
	border-bottom: 20px solid lighten($secondary-color, 5%);
	padding: 40px 0 100px;
	text-align: center;
	position: relative;
	color: #fefefe;
	h2 {
		font-family: 'Raleway', sans-serif;
		font-weight: 100;
	}
	&__select {
		display: inline-block;
		position: relative;
		background: linear-gradient(to left, $third-color 0, $third-color 51px, $white 51px, $white 100%);
		height: 51px;
		margin-right: 20px;
		margin-bottom: 25px;
		select {
			width: 300px;
			height: 51px;
			font-weight: 700;
			font-size: 14px;
			color: $dark-gray;
			box-shadow: 0 2px 0 $dark-gray;
			padding-left: 50px;
			padding-right: 20px;
			background: transparent url(../img/arrow-down.svg) 265px 50% no-repeat;
		}
		&:before {
			content: '';
			display: block;
			width: 19px;
			height: 19px;
			position: absolute;
			top: 15px;
			left: 23px;
			background: url(../img/chartpie.svg) 50% no-repeat;
		}
	}

	button {
		@include button;
		background-color: $third-color;
		padding: 0 80px;
		min-height: 70px;
		font-size: 21px;
		display: block;
		margin: 0 auto;
	}
	&__icons {
		position: absolute;
		left: 10px;
		top: 20%;
		border-radius: 4px;
	}
	&__icon {
		display: block;
		width: 70px;
		height: 65px;
		background-color: $third-color;
		background-repeat: no-repeat;
		background-position: 50%;
		&--speech {
			background-image: url(../img/icon/speech.svg);
		}
		&--email {
			background-image: url(../img/icon/email.svg);
			background-color: lighten($third-color,10%);
		}
		&--like {
			background-image: url(../img/icon/like.svg);
		}
		&:hover {
			background-color: darken($third-color,10%);
		}
	}
}

@import "slick.scss";
.ba-slider {
		.ba-slide {
			min-height: 40px;
			border: none;
			outline: none;
		}
		& img {
			margin: 0 auto;
		}
	.slick-arrow {
		position: absolute;
		top: 40%;
		width: 30px;
		height: 40px;
		border: none;
		background: no-repeat 50%;
		text-indent: -99999px;
		background-size: contain;
		outline: none;
		box-shadow: none;
		transition: width .3s ease-in;
		transition: height .3s ease-in;
		&:focus, &:active, &:hover {
			width: 40px;
			height: 54px;
			background-color: transparent;
		}
	}
	.slick-prev {
		background-image: url(../img/arrow-left.svg);
		left: 10px;
	}
	.slick-next {
		background-image: url(../img/arrow-right.svg);
		right: 10px;
	}
}

// ba-real
.ba-real {
	background: $body-background;
	padding: 50px 0;
	font-size: 14px;
	h3 {
		font-size: 25px;
	}
	p {
		font-size: 14px;
	}
	&__red {
		color: $secondary-color;
	}
}

.ba-features {
	padding: 20px 0 80px;
	background: linear-gradient(to bottom, $body-background 0, $body-background 50px, $white 51px, $white 235px, $third-color 236px, $third-color 100%);
	img{
		max-width: 100%;
		height: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.ba-features-slider {
		text-align: center;
		.ba-slide{
			border: none;
			outline: none;
		}
		.slick-dots {
			list-style: none;
			padding: 0;
			top: 100%;
			margin-top: 36px;
			button {
				width: 12px;
				min-height: 12px;
				padding: 0;
				border-radius: 6px;
				line-height: 12px;
				text-indent: -9999px;
				background: $dark-gray;
				display: block;
				box-shadow: none;
				border: none;
				&:focus, &:hover {
					background: $dark-gray;
					outline:none;
				}
			}
			.slick-active {
				button {
					background: $medium-gray;
				}
			}
			li {
				display: inline-block;
				margin-left: 15px;
			}
		}
	}
}

.ba-footer {
	background: lighten($black, 15%);
	padding: 70px 0 250px;
	border-top: 20px solid #202020;
	p {
		color: $light-gray;
		font-size: 12px;
		padding: 30px 0;
	}
	&__form {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			display: block;
			background: url(../img/email2.svg) no-repeat 50%;
			right: -50px;
			top: 50%;
			margin-top: -10px;
			width: 28px;
			height: 20px;
		}
	}
	input {
		border-radius: 4px;
		background-color: lighten($black, 10%);
		width: 540px;
		height: 75px;
		border: none;
		padding-left: 20px;
		position: relative;

		&:focus {
			background-color: lighten($black, 20%);
			border: none;
			color: $white;
		}
		@media (max-width:540px){
			width: 340px;
		}
	}
	&__social {
		padding: 60px 0 0 150px;
	}
	&__icon {
		width: 60px;
		height: 54px;
		display: inline-block;
		background-position: 50%;
		background-repeat: no-repeat;
		margin-right: 10px;
		&--rss {
			background-image: url(../img/social/rss.svg);
			background-color: #ffaa16;
			box-shadow: inset 0 -3px 0 #d38600;
			&:hover {
				opacity: 0.5;
			}
		}
		&--pink {
			background-image: url(../img/social/ball.svg);
			background-color: #ec5b95;
			box-shadow: inset 0 -3px 0 #d30054;
			&:hover {
				opacity: 0.5;
			}
		}
		&--twitter {
			background-image: url(../img/social/twitter.svg);
			background-color: $third-color;
			box-shadow: inset 0 -3px 0 $third-color;
			&:hover {
				opacity: 0.5;
			}
		}
		&--facebook {
			background-image: url(../img/social/facebook.svg);
			background-color: #0054a6;
			box-shadow: inset 0 -3px 0 #003a72;
			&:hover {
				opacity: 0.5;
			}
		}
	}
}

